.about-content{
  @include span(12);
  &__title{
    @include font(36px, 300);
    padding-top: 3.3rem;
    padding-bottom: 2.8rem;
    color: $color-mostly-black;
  }

  &__description{
    @include font(16px);
    color: $color-mostly-black;
    padding-bottom: 2.6rem;
    line-height: 24px;
  }
}

.about-img{
  padding-bottom: 3rem;
}

.about-description{
  background: url(/src/assets/img/gray-bg.jpg) no-repeat;
  background-size: cover;
  margin-bottom: 3.8rem;

  &__content{
    @include font(24px, 300);
    line-height: 34px;
    padding-top: 4.5rem;
    padding-left: 5.1rem;
    padding-bottom: 4.3rem;
    width: 120rem;
    color: $color-mostly-black;
  }
}

.about-us{
  @include span(12);

  &__text{
    @include font(16px);
    line-height: 24px;
    color: $color-mostly-black;
    width: 128rem;

    &:first-child{
      padding-bottom: 2.4rem;
    }
    &:nth-child(2){
      padding-bottom: 2rem;
    }
    &:last-child{
      padding-bottom: 10.6rem;
    }
  }
}