.btn{
  &__btn-by {
    @include font(16px, 600);
    background: $color-soft-red-light;
    border: none;
    padding: 3rem 4.7rem;
    text-transform: uppercase;
    color: $color-white;
    cursor: pointer;
    margin-top: 7rem;

    &:hover{
      background-color: $color-soft-red;
      transition: .2s;
    }
  }


}