.btn{
  margin-top: 3rem;
  margin-bottom: 2rem;


  &__btn-back{
    @include font(12px, 600);
    display: flex;
    align-items: center;
    align-content: center;
    width: 28.5rem;
    border: none;
    background-color: #33a4d9;
    color: $color-white;
    cursor: pointer;
    height: 4rem;
    text-transform: uppercase;

  }

  &__btn-back::before{
    @include font(24px);
    content: '\2190';
    margin-left: 2rem;
    margin-right: 1rem;
    color: $color-white;
  }
}


