.way {
  &__link_main {
    @include font(12px);
    color: $color-mostly-black;
    text-decoration: none;
  }
  &__link_main::after {
    content: "/";
    padding-left: .5rem;
    padding-right: .5rem;
    color: $color-cian;
  }
  &__link_catalog {
    @include font(12px);
    color: $color-dark-grayish-red;
    text-decoration: none;
  }
}

.contents {
  &__title {
    @include font(30px, 300);
    color: $color-mostly-black;
  }
}

.catalog-grid {
  display: flex;
}

.side-bar {
  flex: 3;
}

.content{
  flex: 9;
}

.top-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 1rem 1rem 3rem;
}

.show-product {
  &__info {
    @include font(12px);
    color: $color-dark-grayish-red;
  }
}
.catalog-product-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.catalog-block {
  background: $color-white;
  margin: 3rem;
  width: 27rem;
  box-shadow: 1.5px 2.598px 9px 0 rgba(0, 0, 0, 0.09);
  position: relative;

  &__img {
    margin: 1rem;
    width: 25rem;
    height: 20rem;
  }

  &__btns {
    @include font(12px, 600);
    color: $color-white;
    background: $color-soft-red-light;
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    display: flex;margin: 3rem auto 3.7rem;

    &__:hover {
      background-color: $color-soft-red;
      transition: .2s;
    }
  }

  &__new {
    @include font(10px, 600);
    position: absolute;
    left: 0;
    top: 31.8%;
    color: $color-white;
    background: $color-moderate-green;
    height: 2.7rem;
    width: 6.6rem;
    line-height: 2.7;
    text-align: center;
  }

  &__best-price{
    @include font(10px, 600);
    color: $color-white;
    background: $color-bright-orange;
    text-align: center;
    line-height: 2.7;
    height: 2.7rem;
    width: 8.8rem;
    position: absolute;
    left: 0;
    top: 31.8%;
  }

  &__hit-sales{
    @include font(10px, 600);
    color: $color-white;
    background: $color-soft-violet;
    text-align: center;
    width: 7.7rem;
    line-height: 2.7;
    height: 2.7rem;
    position: absolute;
    left: 0;
    top: 31.8%;
  }
}

.description-block{
  height: 15rem;
  &__description {
    @include font(10px);
    color: $color-more-dark-gray;
    text-align: center;
  }

  &__title {
    @include font(18px, 700);
    width: 25rem;
    text-align: center;
    color: $color-strong-blue;
    margin: 0 auto;
  }

  &__subtitle {
    @include font(14px);
    color: $color-mostly-black;
    width: 23rem;
    margin: 0 auto;
    padding-top: 2rem;
    text-align: center;
  }
}

.pricing{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;

  &__price {
    @include font(18px, 600);
    color: $color-mostly-black;
  }

  &__old-price{
    @include font(12px, 600);
    color: $color-bright-orange;
    text-decoration: line-through;
    margin-right: 1.5rem;
  }

  &__dotted{
    display: block;
    background: red;
  }
}