
.container {
  max-width: 1290px;
  margin: 0 auto;
}

.wrapper_dark {
  background-color: $color-gray;
}


.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__items {
    flex: 7;
    list-style: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0;
  }

  &__item {
    display: inline-block;
    border-right: 1px solid $color-very-light-gray;
    text-transform: uppercase;
  }

  &__item:first-child {
    border-left: 1px solid $color-very-light-gray;
  }

  &__link {
    @include font(12px, 600);
    color: $color-very-dark-gray;
    text-decoration: none;
    padding: 2rem;
  }

  &__link:hover {
    background: $color-bright-blue;
    color: $color-white;
    transition: 0.3s;
  }

  &__login {
    @include font(12px, 600);
    flex: 1;
    position: relative;
    padding-left: 2rem;
    margin-right: 0;
    border: none;
    background-color: $color-white;
    height: 5.4rem;

  }

  &__login:before {
    content: url("/src/assets/img/shape.png");
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translateY(-50%);
  }

  &__login:hover {
    background-color: $color-soft-red;
    transition: 0.3s;
    color: $color-white;
    cursor: pointer;
  }

  &__cart {
    @include font(12px, 700);
    flex: 2;
    margin-left: 0;
    position: relative;
    background: $color-soft-red-light;
    border: none;
    height: 5.4rem;
    padding-left: 2rem;
    color: $color-white;
  }

  &__cart:before {
    content: url("/src/assets/img/shopping-cart.png");
    position: absolute;
    left: 5rem;
    top: 50%;
    transform: translateY(-50%);
  }

  &__cart:hover {
    background-color: $color-soft-red;
    transition: 0.3s;
    cursor: pointer;
  }
}

.search {
  flex: 2;
  margin-top: 1.3rem;
  position: relative;

  &__area {
    height: 2rem;
    padding-left: 3rem;
    border-radius: 20px;
    border: 1px solid $color-light-gray;
    outline: none;
  }

  &__btn {
    position: absolute;
    left: 5%;
    top: 8%;
    background: url("/src/assets/img/tool.png") no-repeat;
    height: 2rem;
    width: 2rem;
    border: none;
    cursor: pointer;
    outline: none;
  }
}

.contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: .5rem;
  padding-right: 1.5rem;
}

.logo {
  padding-top: 1.5rem;
}

.address {
  padding-top: 2rem;
  padding-bottom: 2rem;
  &__info {
    @include font(14px, 400);
    color: $color-mostly-black;
    padding-bottom: 1rem;
  }

  &__map {
    @include font(14px, 600);
    color: $color-strong-blue;
    border-bottom: 1px solid $color-strong-blue;
    text-decoration: none;
  }

  &__map:hover{
    color: $color-soft-red;
    border-bottom: 1px solid $color-soft-red;
    transition: .2s;
  }
}

.telephone{
  padding-top: 2rem;
  &__number{
    @include font(14px, 400);
    color: $color-mostly-black;
    padding-bottom: 1rem;
  }
  &__info{
    color: $color-dark-grayish-red;
    margin-left: 1rem;
  }
}

.hire{
  &__title{
    @include font(14px, 400);
    color: $color-dark-grayish-red;
    padding-top: 2rem;
  }
}

.weigher{
  display: flex;
  flex-direction: row;
  align-content: start;
  padding-top: 2rem;


  &__img{
    height: 1.7rem;
  }

  &__product{
    @include font (12px, 700);
    width: 13rem;
    margin-top: 0;
    margin-right: 1rem;
    margin-left: 1rem;
    color: $color-strong-blue;
  }

  &__hooks{
    @include font(12px, 400);
    color: $color-dark-grayish-red;
    margin-left: .5rem;
  }

  &__link{
    @include font(12px, 600);
    color: $color-white;
    text-decoration:none;
    padding: 1.2rem 2rem;
    background-color: $color-soft-red-light;
    display: inline;
    width: 12rem;
    text-align: center;
    border-radius: 5px;
    text-transform: uppercase;
    margin-top: -1rem;
  }

  &__link:hover{
    background-color: $color-soft-red;
    transition: .2s;
  }
}
