.sorting {
  background: $color-gray;
  width: 26rem;
  height: 4.5rem;
  box-shadow: 1.286px 1.532px 14px 0 rgba(42, 88, 123, 0.33);
  display: flex;
  justify-content: space-around;
  align-items: center;
  &__name {
    @include font(12px);
    color: $color-dark-grayish-red;
  }

  &__lists{
    @include font(12px, 700);
    border: none;
    outline: none;
    background: $color-gray;
    color: #0889cc;
    -webkit-appearance:none;
  }
}
