<<<<<<< HEAD
.text{
  @include span(6);
}

.item{
  @include span(12);
  border: 1px solid #000;
  @media (min-width: 768px) {
    @include span(6);
  }
  @media (min-width: 1200px) {
    @include span(4);
  }
}
=======
.way {
  &__link {
    @include font(12px);
    text-decoration: none;
  }

  &__link_pages {
    color: $color-mostly-black;
  }

  &__link_pages::after {
    content: '/';
    padding-left: .5rem;
    padding-right: .5rem;
    color: $color-bright-blue-light;
  }

  &__link_product {
    color: $color-dark-grayish-red;
  }
}
.gallery-wrapper{
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #e3e3e3;
}
.gallery-wrap{
  @include span(3);
  margin-left: 0;
  position: relative;
}
.img-block {
  @include product-gallery-img;
  width: 48rem;
  height: 48rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.img-mini{
  display: flex;
  flex-direction: row;
}

.img-mini-wrap{
  display: flex;
  flex-direction: row;
}

.img-wrap{
  @include span(1);
  @include product-gallery-img;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-right: 1rem;
  padding: 4rem;
  height: 8rem;
  margin-bottom: 2rem;

  &:first-child{
    margin-left: 0;
  }
}

.product-discruption{
  @include span(7);

  &__title{
    @include font(30px,300);
    color: $color-mostly-black;
    margin-bottom: 6rem;
  }
  &__subcategory{
    @include font(12px);
    color: $color-more-dark-gray;
  }

  &__subcategory_colored{
    @include font(12px, 700);
    padding-left: .7rem;
    color: $color-bright-blue-light;
  }

  &__info{
    @include font(16px);
    color: $color-mostly-black;
    padding-left: 1rem;
    padding-top: 3rem;
    line-height: 2.2rem;
  }
}

.pricing_product{
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.pricing{
  &__old-price_product{
    @include font(18px);
  }

  &__price_product{
    @include font(36px, 600);
    margin-top: 2rem;
  }
}

.product-info{
  margin-top: 3rem;

  &__title{
    @include font(30px);
    color: $color-mostly-black-dark;
    margin-bottom: .5rem;
  }

  &__info{
    @include font(16px);
    color: $color-mostly-black-dark;
    margin-top: 2rem;
  }
}

.specifications{
  margin-top: 4rem;
  margin-bottom: 1rem;
  &__title{
    @include font(30px);
    margin-bottom: 2.8rem;
  }
}

.characteristics{
  display: flex;
  flex-direction: row;
  text-align: left;
}

.table-name{
  &__name{
    @include font(14px);
    height: 5rem;
    width: 41rem;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    border: 1px solid $color-gainsbro;
    border-bottom: none;
    color: $color-mostly-black;

    &:last-child{
      border-bottom: 1px solid $color-gainsbro;
    }

    &:nth-child(even){
      background-color: $color-gray;
    }
  }
}

.table-value{
  &__value {
    @include font(14px, 600);
    height: 5rem;
    width: 66rem;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    border: 1px solid $color-gainsbro;
    border-bottom: none;
    border-left:none;
    color: $color-mostly-black;

    &:last-child{
      border-bottom: 1px solid $color-gainsbro;
    }

    &:nth-child(even){
      background-color: $color-gray;
    }
  }
  
}


>>>>>>> parent of aebe5f0... Some changes
