$color-gray: #f1f1f1;
$color-very-dark-gray: #4f4f4f;
$color-light-gray: #e6e6e6;
$color-white: #fff;
$color-soft-red: #fc6e73;
$color-soft-red-light: #f46464;
$color-very-light-gray: #e2e2e2;
$color-strong-blue: #0889cc;
$color-bright-blue: #3ea1da;
$color-mostly-black: #1e1e1e;
$color-dark-grayish-red: #9b9a9a;
$color-strong-cyan: #0a9ccc;
$color-strong-cyan-dark: #068fd6;
$color-bright-blue-light: #33a4d9;
$color-dark-gray: #9a9a9a;
$color-mostly-black-dark: #010101;
$color-moderate-green: #8dbe47;
$color-bright-orange: #f49639;
$color-more-dark-gray: #8e8e8e;
$color-soft-violet: #a073eb;
$color-eclipse: #373737;
$color-more-light-gray: #ccc;
$color-suva-gray: #929292;
$color-suva-dark-gray: #8a8a8a;
$color-rambezi-gray: #595959;
$color-cian: #69bce3;
$color-blue-elise: #e8f5f9;
$color-blue-krayola: #a4d4ec;
$color-deep-yellow-pink: #f04343;
$color-light-silver: #b0b0b0;
$color-silver: #c4c4c4;


//Шрифты
$font: 'Open Sans';

// Сетка
$column-width: 6.5rem;