+b.sorting
    +e.P.name Сортировать по: 
    +e.SELECT(name="fiter").lists
        +e.OPTION.list наименованию
        +e.OPTION.list популярности
        +e.OPTION.list алфавиту
        +e.OPTION.list новинки
        +e.OPTION.list лучшая цена
        +e.OPTION.list хит продаж
        