+b.wrapper
    +b.container
        +b.row
            +b.catalog-block-navigation
                +e.BUTTON.btn._disactive
                    +e.IMG(src="/src/assets/img/arrow.png").img
                    +e.P.info Назад
                +e.UL.lists
                    +e.LI.list
                        +e.A(href="#").link._active 1
                    +e.LI.list
                        +e.A(href="#").link 2
                    +e.LI.list
                        +e.A(href="#").link 3
                    +e.LI.list
                        +e.A(href="#").link 4
                    +e.li.list
                        +e.P.dotted ...
                    +e.LI.list
                        +e.A(href="#").link 16
                    +e.LI.list
                        +e.A(href="#").link 17
                    +e.LI.list
                        +e.A(href="#").link 18
                    +e.LI.list
                        +e.A(href="#").link 19
                +e.BUTTON.btn
                    +e.P.info Вперед
                    +e.IMG(src="/src/assets/img/arrow.png").img