include ../bemto/bemto.pug
include ../components/vars

+b.side-bar
    +e.P.title Каталог
    +e.UL.lists
        +e.LI.list
            +e.A(href='#').link Массажные столы Vernam
            +b.dropped
                +e.UL.lists
                    +e.LI.list
                        +e.A(href="#").link Микроскопы
                        +e.SPAN.number (1)
                    +e.LI.list
                        +e.A(href="#").link Холодильники
                        +e.SPAN.number (22)
                    +e.LI.list
                        +e.A(href="#").link Термометры, Ареометры, Измерители
                        +e.SPAN.number (1)
                    +e.LI.list
                        +e.A(href="#").link Часы песочные
                        +e.SPAN.number (28)
                    +e.LI.list
                        +e.A(href="#").link Гигрометры, Барометры
                        +e.SPAN.number (8)
                    +e.LI.list
                        +e.A(href="#").link Алкометры и принадлежности
                        +e.SPAN.number (15)
                    +e.LI.list
                        +e.A(href="#").link Оборудование
                        +e.SPAN.number (3)
                +e.UL.lists
                    +e.LI.list
                        +e.A(href="#").link Тест-полоски
                        +e.SPAN.number (28)
                    +e.LI.list
                        +e.A(href="#").link Стекла
                        +e.SPAN.number (8)
                    +e.LI.list
                        +e.A(href="#").link Микроскопы
                        +e.SPAN.number (214)
                        +b.secondary_list
                            +e.UL.lists
                                +e.LI.list
                                    +e.A(href="#").link Оптические микроскопы
                                    +e.SPAN.number (180)
                                +e.LI.list
                                    +e.A(href="#").link Рентгеновские микроскопы
                                    +e.SPAN.number (20)
                                +e.LI.list
                                    +e.A(href="#").link Световые микроскопы
                                    +e.SPAN.number (14)
                    +e.LI.list
                        +e.A(href="#").link Лабораторная посуда и принадлежности
                        +e.SPAN.number (3)
        +e.LI.list
            +e.A(href='#').link Товары для дома
        +e.LI.list
            +e.A(href='#').link Для здоровья и красоты
        +e.LI.list
            +e.A(href='#').link Мебель медицинская
        +e.LI.list
            +e.A(href='#').link Изделия медицинского <br> назначения
        +e.LI.list
            +e.A(href='#').link Стерилизация, дезинфекция
        +e.LI.list
            +e.A(href='#').link Урология, гинекология
        +e.LI.list
            +e.A(href='#').link Хирургия
        +e.LI.list
            +e.A(href='#').link Офтальмология
        +e.LI.list
            +e.A(href='#').link ЛОР-оборудование и <br> инструменты
        +e.LI.list
            +e.A(href='#').link Стоматология
        +e.LI.list
            +e.A(href='#').link Диагностика
        +e.LI.list
            +e.A(href='#').link Медицинское оборудование <br> и инструменты
        +e.LI.list
            +e.A(href='#').link Лабораторное оборудование и инструменты
        +e.LI.list
            +e.A(href='#').link Травматология
        +e.LI.list
            +e.A(href='#').link Рентгеновское оборудование
        +e.LI.list
            +e.A(href='#').link Утилизация
        +e.LI.list
            +e.A(href='#').link Косметология и <br> дерматология