+b.FOOTER.page-footer
    +b.wrapper_footer
        +b.container
            +b.row
                +b.footer-contacts
                    +b.footer-logo
                        +e.A(href="#").link
                            +e.IMG(src="/src/assets/img/footer-logo.jpg").img
                    +b.footer-address
                        +e.P.info Россия, 440018, г. Пенза, ул. Средняя, 9
                        +e.P.info пн-пт 8:30 - 18:00
                        +e.P.info сб 8:30-16:00, вс — выходной
                    +b.footer-telephone
                        +e.P.tel +7 (8412) 68-02-11
                        +e.P.tel +7 (8412) 68-43-70
                        +e.P.tel +7 (8412) 68-29-51
                    +b.footer-search
                        +e.P.info Поиск по сайту
                        +b.FORM.footer-search-block
                            +e.INPUT(type="text").area
                            +e.BUTTON(type="submit").btn Найти
            +b.row
                +b.footer-info
                    +b.footer-code
                        +e.P.codex ОБРАЩАЕМ ВАШЕ ВНИМАНИЕ, что данный интернет-сайт и материалы, размещенные на нем, носят исключительно информационный характер и ни при каких условиях не являются публичной офертой, определяемой положениями статьи 437 Гражданского кодекса РФ.
                    +b.footer-onlinebees
                        +e.A(href="#").link
                            +e.P.info Разработка сайта
                            +e.IMG(src="/src/assets/img/bees-logo.png").img