+b.HEADER.page-header
    +b.wrapper._dark
        +b.container
            +b.row
                +b.NAV.main-nav
                    +e.UL.items
                        each item in navList
                            +e.LI.item
                                +e.A(href="#").link=item
                    +b.FORM.search
                        +e.BUTTON(type="submit").btn
                        +e.INPUT(type="text" placeholder="Поиск по сайту").area
                    +e.BUTTON(type="button").login Вход
                    +e.BUTTON(type="button").cart Моя корзина
    +b.wrapper
        +b.container
            +b.row
                +b.contacts
                    +b.logo
                        +e.A(href="/build/index.html").link
                            +e.IMG(src="/src/assets/img/logo.jpg").img
                    +b.address
                        +e.P.info Россия, 440018, г. Пенза, ул. Средняя, 9
                        +e.P.info пн-пт 8:30- 8:00, сб 8:30-16:00, вс выходной
                        +e.A(href="#").map Как до нас добраться
                    +b.telephone
                        each item in telNumber
                            +e.P.number=item.number
                                +e.SPAN.info=item.info
                    +b.hire
                        +e.P.title Мы осуществляем прокат изделий:
                        +b.weigher
                            +e.IMG(src="/src/assets/img/1117.png").img
                            +e.P.product Весы для новорожденных
                                +e.SPAN.hooks (...)
                            +e.A(href="#").link в прокат »