- var navList = ["О компании", "Услуги", "Лицензии", "доставка", "Контакты", "Прокат"]
-
    var telNumber = [
    {
    number: '+7 (8412) 68-02-11, 68-43-70',
    info: 'Магазин'
    },
    {
    number: '+7 (8412) 68-38-62',
    info: 'Отдел заказов'
    },
    {
    number: '+7 (8412) 68-02-11',
    info: 'Ремонт и обслуживание'
    }
    ]

-
    var listProduct = [
    {
        img:'1281_mid.jpg',
        description: 'Физиотерапевтические аппараты',
        title: 'Электроды для дарсонвализации',
        subtitle: 'Для аппаратов «Корона», «Карат», «Ультратек»',
        price: '1 500 ₽',
        button: 'Купить',
        new: 'Новинка'
    },
    {
        img:'1282_mid.jpg',
        description: 'Тонометры Автоматические',
        title: 'Тонометр автоматический с функцией диагностики аритмии Microlife BP A100',
        subtitle: 'Для пенсионеров скидки!!!',
        oldPrice: '3 870 ₽',
        price: '3 870 ₽',
        button: 'Купить',
        bestPrice: 'Лучшая цена'
    },
    {
        img:'1283_mid.jpg',
        description: 'Физиотерапевтические аппараты',
        title: 'Концентратор кислородный 7F-1L',
        subtitle: 'Для сеансов профилактической кислородотерапии, приготовления кислородных коктейлей',
        price: '1 500 ₽',
        button: 'Купить',
        new: 'Новинка'
    },
    {
        img:'1282_mid.jpg',
        description: 'Тонометры Автоматические',
        title: 'Тонометр автоматический с функцией диагностики аритмии Microlife BP A100',
        subtitle: 'ДАННЫЙ ТОВАР ИМЕЕТ РЕГИСТРАЦИОННОЕ УДОСТОВЕРЕНИЕ!',
        price: 'цена не указана',
        button: 'Купить' ,
        hitSales: 'Хит продаж'
    }
    ]

-
    var catalogListFirst= [
    {
        img:'1282_mid.jpg',
        description: 'Тонометры Автоматические',
        title: 'Тонометр автоматический с функцией диагностики аритмии Microlife BP A100',
        subtitle: 'Для пенсионеров скидки!!!',
        oldPrice: '3 870 ₽',
        price: '3 870 ₽',
        button: 'Купить',
        bestPrice: 'Лучшая цена'
    },
    {
        img:'1283_mid.jpg',
        description: 'Физиотерапевтические аппараты',
        title: 'Концентратор кислородный 7F-1L',
        subtitle: 'Для сеансов профилактической кислородотерапии, приготовления кислородных коктейлей',
        price: '1 500 ₽',
        button: 'Купить'
    },
    {
        img:'1282_mid.jpg',
        description: 'Тонометры Автоматические',
        title: 'Тонометр автоматический с функцией диагностики аритмии Microlife BP A100',
        subtitle: 'ДАННЫЙ ТОВАР ИМЕЕТ РЕГИСТРАЦИОННОЕ УДОСТОВЕРЕНИЕ!',
        price: 'цена не указана',
        button: 'Купить' ,
        hitSales: 'Хит продаж'
    },
    {
        img:'1282_mid.jpg',
        description: 'Тонометры Автоматические',
        title: 'Тонометр автоматический с функцией диагностики аритмии Microlife BP A100',
        subtitle: 'Для пенсионеров скидки!!!',
        oldPrice: '3 870 ₽',
        price: '3 870 ₽',
        button: 'Купить'
    },
    {
        img:'1283_mid.jpg',
        description: 'Физиотерапевтические аппараты',
        title: 'Концентратор кислородный 7F-1L',
        subtitle: 'Для сеансов профилактической кислородотерапии, приготовления кислородных коктейлей',
        price: '1 500 ₽',
        button: 'Купить'
    },
    {
        img:'1282_mid.jpg',
        description: 'Тонометры Автоматические',
        title: 'Тонометр автоматический с функцией диагностики аритмии Microlife BP A100',
        subtitle: 'ДАННЫЙ ТОВАР ИМЕЕТ РЕГИСТРАЦИОННОЕ УДОСТОВЕРЕНИЕ!',
        price: 'цена не указана',
        button: 'Купить' ,
        hitSales: 'Хит продаж'
    },
    {
        img:'1282_mid.jpg',
        description: 'Тонометры Автоматические',
        title: 'Тонометр автоматический с функцией диагностики аритмии Microlife BP A100',
        subtitle: 'Для пенсионеров скидки!!!',
        oldPrice: '3 870 ₽',
        price: '3 870 ₽',
        button: 'Купить',
        bestPrice: 'Лучшая цена'
    },
    {
        img:'1283_mid.jpg',
        description: 'Физиотерапевтические аппараты',
        title: 'Концентратор кислородный 7F-1L',
        subtitle: 'Для сеансов профилактической кислородотерапии, приготовления кислородных коктейлей',
        price: '1 500 ₽',
        button: 'Купить',
        new: 'Новинка'
    },
    {
        img:'1282_mid.jpg',
        description: 'Тонометры Автоматические',
        title: 'Тонометр автоматический с функцией диагностики аритмии Microlife BP A100',
        subtitle: 'ДАННЫЙ ТОВАР ИМЕЕТ РЕГИСТРАЦИОННОЕ УДОСТОВЕРЕНИЕ!',
        price: 'цена не указана',
        button: 'Купить' ,
        hitSales: 'Хит продаж'
    }
    ]