include ../bemto/bemto.pug
include ../components/_vars
include ../components/_mixin

+base-page
    +b.wrapper
        +b.container
            +b.row
                +b.way
                    +e.A(href='/build/index.html').link._main Главная
                    +e.A(href='#').link._catalog О компании
        +b.container
            +b.row
                +b.about-content
                    +e.P.title О компании
                    +e.P.description Мы рады приветствовать Вас на нашем сайте ЗАО «Медтехника» Пенза. В каталоге товаров Вы сможете найти и купить тонометры, ингаляторы, медицинскую мебель, инструменты и многое другое. В выборе товара Вам всегда помогут специалисты широкого профиля.
            +b.row
                +b.about-img
                    +e.IMG(src="/src/assets/img/about-img.jpg").img
            +b.row
                +b.about-description
                    +e.P.content ЗАО «Медтехника» осуществляет свою деятельность с 1965 года. В течение четырех десятилетий мы обеспечиваем бесперебойное функционирование и обновление парка медицинской техники в лечебно-профилактических учреждениях города и области.
            +b.row
                +b.about-us
                    +e.P.text В настоящее время ЗАО «Медтехника» представляет собой современное предприятие, обеспечивающее лечебно-профилактические учреждения медицинской техникой, расходными материалами, предоставляющее полный спектр услуг, обеспечивающих бесперебойную и безопасную эксплуатацию медицинской техники.
                    +e.P.text Поддерживает деловые связи со всеми производителями медицинского оборудования.
                    +e.P.text Высококвалифицированные специалисты, технологическое и инструментальное оснащение производства, развитая инфраструктура – все это позволяет выполнять работы на высоком техническом уровне. ЗАО «Медтехника» оказывает услуги населению г. Пензы и Пензенской области, участвует в национальном проекте «Здоровье» и программах модернизации здравоохранения.