include ../bemto/bemto.pug
include ../components/_vars
include ../components/_mixin

+base-page
    +b.wrapper
        +b.container
            +b.row
                +b.way
                    +e.A(href='/build/index.html').link._main Главная
                    +e.A(href='#').link._catalog Каталог
            +b.row
                +b.contents
                    +e.H2.title Каталог
    +b.wrapper
        +b.container
            +b.row.catalog-grid
                +b.side-bar
                    include ../components/_catalog_side_bar
                +b.content
                    +b.top-info
                        +b.show-product
                            +e.P.info Показано товаров:  2 010
                        include ../components/_sorting
                    +b.wrapper
                        +b.container
                            +b.row
                                +b.catalog-product-grid
                                    each item in catalogListFirst
                                        +b.catalog-block
                                            +e.IMG(src="/src/assets/img/" + item.img).img
                                            +b.description-block
                                                +e.P.description=item.description
                                                +e.P.title
                                                    +e.A(href=" " + item.link).link=item.title
                                                +e.P.subtitle=item.subtitle
                                            +b.pricing
                                                if item.oldPrice
                                                    +e.P.old-price=item.oldPrice
                                                    +e.P.price=item.price
                                                else
                                                    +e.P.price=item.price
                                            +e.BUTTON(type='button').btns=item.button
                                            if item.new
                                                +e.P.new=item.new
                                            else if item.bestPrice
                                                +e.P.best-price=item.bestPrice
                                            else if item.hitSales
                                                +e.P.hit-sales=item.hitSales
                    include ../components/_pagination
    include ../components/_medical_equipment