include ../bemto/bemto.pug
include ../components/vars

doctype html
html(lang = "ru")
    head
        meta(charset="utf-8")
        title Мед Техника
        link(rel="stylesheet" href="css/style.css")
        link(rel="stylesheet" href="css/main.css")
        link(rel="stylesheet" href="../node_modules/normalize.css/normalize.css")
        meta(name="viewport" content="width=device-width, initial-scale = 1.0")
    body

        include ../components/head
        +b.wrapper
            +b.container-fluid
                +b.row
                    +b.slider
                        +b.slider-content
                            +e.IMG(src="/src/assets/img/slider2.jpg").img
                            +e.P.text Уже 50 лет мы обеспечиваем бесперебойную работу медицинской техники
                            +b.slider-nav
                                +e.LABEL.slider-btn
                                    +e.INPUT(type="radio" name="radio").switch
                                    +e.SPAN.radio-custom
                                +e.LABEL.slider-btn
                                    +e.INPUT(type="radio" name="radio" checked).switch
                                    +e.SPAN.radio-custom
                                +e.LABEL.slider-btn
                                    +e.INPUT(type="radio" name="radio").switch
                                    +e.SPAN.radio-custom
                                +e.LABEL.slider-btn
                                    +e.INPUT(type="radio" name="radio").switch
                                    +e.SPAN.radio-custom
                                +e.LABEL.slider-btn
                                    +e.INPUT(type="radio" name="radio").switch
                                    +e.SPAN.radio-custom
            +b.container
                    +b.product
                        +e.P.title ассортимент нашей продукции
                        +b.row.product-grid
                            +b.product-list
                                +b.product-list-image
                                    +e.IMG(src="/src/assets/img/1379_sm.jpg").img
                                +b.product-list-content
                                    +e.A(href="#").title Массажные столы Vernam
                                    +e.UL.items
                                        +e.LI.item
                                            +e.A(href="#").link Складные массажные столы
                                        +e.LI.item
                                            +e.A(href="#").link Аксессуары для массажа
                                        +e.LI.item
                                            +e.A(href="#").link Стационарные массажные столы
                            +b.product-list
                                +b.product-list-image
                                    +e.IMG(src="/src/assets/img/110_sm.jpg").img
                                +b.product-list-content
                                    +e.A(href="#").title Товары для дома
                                    +e.UL.items
                                        +e.LI.item
                                            +e.A(href="#").link Мать и дитя
                                        +e.LI.item
                                            +e.A(href="#").link Тонометры
                                        +e.LI.item
                                            +e.A(href="#").link Ингаляторы
                                        +e.LI.item
                                            +e.A(href="#").link Коляски инвалидные
                                        +e.LI.item
                                            +e.A(href="#").link Физиотерапевтические аппараты
                                        +e.LI.item._hidden
                                            +e.A(href="#").link Физиотерапевтические аппараты
                                        +e.LI.item._hidden
                                            +e.A(href="#").link Физиотерапевтические аппараты
                                    +e.BUTTON(type="button").more Показать еще 15 категорий
                            +b.product-list
                                +b.product-list-image
                                    +e.IMG(src="/src/assets/img/1398_sm.jpg").img
                                +b.product-list-content
                                    +e.A(href="#").title Для здоровья и красоты
                                    +e.UL.items
                                        +e.LI.item
                                            +e.A(href="#").link Аппараты прессотерапии и лимфодренажа
                                        +e.LI.item
                                            +e.A(href="#").link Массаж
                                        +e.LI.item
                                            +e.A(href="#").link Разное
                                        +e.LI.item
                                            +e.A(href="#").link Фитнес
                                        +e.LI.item
                                            +e.A(href="#").link Тренажеры
                            +b.product-list
                                +b.product-list-image
                                    +e.IMG(src="/src/assets/img/1392_sm.jpg").img
                                +b.product-list-content
                                    +e.A(href="#").title Мебель медицинская
                                    +e.UL.items
                                        +e.LI.item
                                            +e.A(href="#").link Стулья и табуреты
                                        +e.LI.item
                                            +e.A(href="#").link Шкафы медицинские
                                        +e.LI.item
                                            +e.A(href="#").link Ширмы
                                        +e.LI.item
                                            +e.A(href="#").link Кушетки, банкетки
                                        +e.LI.item
                                            +e.A(href="#").link Штативы
                                    +e.BUTTON(type="button").more Показать еще 5 категорий
                            +b.product-list
                                +b.product-list-image
                                    +e.IMG(src="/src/assets/img/1399.jpg").img
                                +b.product-list-content
                                    +e.A(href="#").title Изделия медицинского назначения
                                    +e.UL.items
                                        +e.LI.item
                                            +e.A(href="#").link Марля, вата, бинты
                                        +e.LI.item
                                            +e.A(href="#").link Одноразовая одежда
                                        +e.LI.item
                                            +e.A(href="#").link Трубки, жгуты
                                        +e.LI.item
                                            +e.A(href="#").link Перчатки
                                        +e.LI.item
                                            +e.A(href="#").link Шприцы
                                        +e.LI.item
                                            +e.A(href="#").link Разное
                            +b.product-list
                                +b.product-list-image
                                    +e.IMG(src="/src/assets/img/657_sm.jpg").img
                                +b.product-list-content
                                    +e.A(href="#").title Стерилизация, дезинфекция
                                    +e.UL.items
                                        +e.LI.item
                                            +e.A(href="#").link Емкости, лотки
                                        +e.LI.item
                                            +e.A(href="#").link Облучатели бактерицидные
                                        +e.LI.item
                                            +e.A(href="#").link Индикаторы, крафт-пакеты
                                        +e.LI.item
                                            +e.A(href="#").link Стерилизаторы, камеры
                                        +e.LI.item
                                            +e.A(href="#").link Коробки
                                    +e.BUTTON(type="button").more Показать еще 15 категорий
                            +b.product-list
                                +b.product-list-image
                                    +e.IMG(src="/src/assets/img/870_sm.jpg").img
                                +b.product-list-content
                                    +e.A(href="#").title Урология, гинекология
                                    +e.UL.items
                                        +e.LI.item
                                            +e.A(href="#").link Инструментарий
                            +b.product-list
                                +b.product-list-image
                                    +e.IMG(src="/src/assets/img/755_sm.jpg").img
                                +b.product-list-content
                                    +e.A(href="#").title Хирургия
                                    +e.UL.items
                                        +e.LI.item
                                            +e.A(href="#").link Стулья и табуреты
                                        +e.LI.item
                                            +e.A(href="#").link Шкафы медицинские
                                        +e.LI.item
                                            +e.A(href="#").link Ширмы
                                        +e.LI.item
                                            +e.A(href="#").link Кушетки, банкетки
                                        +e.LI.item
                                            +e.A(href="#").link Штативы
                                    +e.BUTTON(type="button").more Показать еще 5 категорий
                        +b.row
                            +b.product-button
                                +e.A(href="#").btn перейти в полный каталог продукции
                                +e.P.info Еще 9 категорий медицинских товаров.
        +b.wrapper.interesting-font
            +b.container
                +b.interesting
                    +e.P.title Интересные предложения:
                    +e.BUTTON(type='button').btn Все новинки
                    +e.BUTTON(type='button').btn Все хиты продаж
                    +e.BUTTON(type='button').btn Лучшая цена
                    +b.interesting-grid
                            +b.interesting-block._new
                                +e.IMG(src="/src/assets/img/1281_mid.jpg").img
                                +e.P.description Физиотерапевтические аппараты
                                +e.P.title Электроды для дарсонвализации
                                +e.P.subtitle Для аппаратов «Корона», «Карат», «Ультратек»
                                +e.P.price 1 500 Р
                                +e.BUTTON(type='button').btn купить »

                            +b.interesting-block._best-price
                                +e.IMG(src="/src/assets/img/1282_mid.jpg").img
                                +e.P.description Тонометры Автоматические
                                +e.P.title Тонометр автоматический с функцией диагностики аритмии Microlife BP A100
                                +e.P.subtitle Для пенсионеров скидки!!!
                                +e.P.old-price 3 870 Р
                                +e.P.price._indent 3 870 Р
                                +e.BUTTON(type='button').btn купить »

                            +b.interesting-block._new
                                +e.IMG(src="/src/assets/img/1283_mid.jpg").img
                                +e.P.description Физиотерапевтические аппараты
                                +e.P.title Концентратор кислородный 7F-1L
                                +e.P.subtitle Для сеансов профилактической кислородотерапии, приготовления кислородных коктейлей
                                +e.P.price 1 500 Р
                                +e.BUTTON(type='button').btn купить »

                            +b.interesting-block._hit-sales
                                +e.IMG(src="/src/assets/img/1282_mid.jpg").img
                                +e.P.description Тонометры Автоматические
                                +e.P.title Тонометр автоматический с функцией диагностики аритмии Microlife BP A100
                                +e.P.subtitle Для пенсионеров скидки!!!
                                +e.P.price цена не указана
                                +e.BUTTON(type='button').btn купить »
        +b.wrapper
            +b.container
                +b.info-block
                    +e.P.title Медицинская техника в Пензе и Пензенской области
                    +e.P.subtitle ЗАО «Медтехника» осуществляет свою деятельность с 1965 года. В течение четырех десятилетий мы обеспечиваем бесперебойное функционирование и обновление парка медицинской техники в лечебно-профилактических учреждениях города и области. В настоящее время ЗАО «Медтехника» представляет собой современное предприятие, обеспечивающее лечебно-профилактические учреждения медицинской техникой, расходными материалами, предоставляющее полный спектр услуг, обеспечивающих бесперебойную и безопасную эксплуатацию медицинской техники. Высококвалифицированные специалисты, технологическое и инструментальное оснащение производства, развитая инфраструктура – все это позволяет выполнять работы на высоком техническом уровне. ЗАО «Медтехника» оказывает услуги населению г. Пензы и Пензенской области, участвует в национальном проекте «Здоровье» и программах модернизации здравоохранения.
        include ../components/foot
