include ../bemto/bemto.pug
include ../components/_vars
include ../components/_mixin

+base-page
    +b.SECTION.main
        .swiper-container
            +b.swiper-wrapper
                each item in listSliderProduct
                    +b.swiper-slide
                        +e.IMG(src="/src/assets/img/" + item.swiperSliderImg).img
                        +e.P.text=item.swiperSliderText
            +b.swiper-pagination
        .container
            +b.product
                +e.P.title ассортимент нашей продукции
                +b.row.product-grid
                    +b.product-list
                        +b.product-list-image
                            +e.IMG(src="/src/assets/img/1379_sm.jpg").img
                        +b.product-list-content
                            +e.A(href="#").title Массажные столы Vernam
                            +e.UL.items
                                +e.LI.item
                                    +e.A(href="#").link Складные массажные столы
                                +e.LI.item
                                    +e.A(href="#").link Аксессуары для массажа
                                +e.LI.item
                                    +e.A(href="#").link Стационарные массажные столы
                    +b.product-list
                        +b.product-list-image
                            +e.IMG(src="/src/assets/img/110_sm.jpg").img
                        +b.product-list-content
                            +e.A(href="#").title Товары для дома
                            +e.UL.items
                                +e.LI.item
                                    +e.A(href="#").link Мать и дитя
                                +e.LI.item
                                    +e.A(href="#").link Тонометры
                                +e.LI.item
                                    +e.A(href="#").link Ингаляторы
                                +e.LI.item
                                    +e.A(href="#").link Коляски инвалидные
                                +e.LI.item
                                    +e.A(href="#").link Физиотерапевтические аппараты
                                +e.LI.item._hidden
                                    +e.A(href="#").link Физиотерапевтические аппараты
                                +e.LI.item._hidden
                                    +e.A(href="#").link Физиотерапевтические аппараты
                            +e.BUTTON(type="button").more Показать еще 15 категорий
                    +b.product-list
                        +b.product-list-image
                            +e.IMG(src="/src/assets/img/1398_sm.jpg").img
                        +b.product-list-content
                            +e.A(href="#").title Для здоровья и красоты
                            +e.UL.items
                                +e.LI.item
                                    +e.A(href="#").link Аппараты прессотерапии и лимфодренажа
                                +e.LI.item
                                    +e.A(href="#").link Массаж
                                +e.LI.item
                                    +e.A(href="#").link Разное
                                +e.LI.item
                                    +e.A(href="#").link Фитнес
                                +e.LI.item
                                    +e.A(href="#").link Тренажеры
                    +b.product-list
                        +b.product-list-image
                            +e.IMG(src="/src/assets/img/1392_sm.jpg").img
                        +b.product-list-content
                            +e.A(href="#").title Мебель медицинская
                            +e.UL.items
                                +e.LI.item
                                    +e.A(href="#").link Стулья и табуреты
                                +e.LI.item
                                    +e.A(href="#").link Шкафы медицинские
                                +e.LI.item
                                    +e.A(href="#").link Ширмы
                                +e.LI.item
                                    +e.A(href="#").link Кушетки, банкетки
                                +e.LI.item
                                    +e.A(href="#").link Штативы
                            +e.BUTTON(type="button").more Показать еще 5 категорий
                    +b.product-list
                        +b.product-list-image
                            +e.IMG(src="/src/assets/img/1399.jpg").img
                        +b.product-list-content
                            +e.A(href="#").title Изделия медицинского назначения
                            +e.UL.items
                                +e.LI.item
                                    +e.A(href="#").link Марля, вата, бинты
                                +e.LI.item
                                    +e.A(href="#").link Одноразовая одежда
                                +e.LI.item
                                    +e.A(href="#").link Трубки, жгуты
                                +e.LI.item
                                    +e.A(href="#").link Перчатки
                                +e.LI.item
                                    +e.A(href="#").link Шприцы
                                +e.LI.item
                                    +e.A(href="#").link Разное
                    +b.product-list
                        +b.product-list-image
                            +e.IMG(src="/src/assets/img/657_sm.jpg").img
                        +b.product-list-content
                            +e.A(href="#").title Стерилизация, дезинфекция
                            +e.UL.items
                                +e.LI.item
                                    +e.A(href="#").link Емкости, лотки
                                +e.LI.item
                                    +e.A(href="#").link Облучатели бактерицидные
                                +e.LI.item
                                    +e.A(href="#").link Индикаторы, крафт-пакеты
                                +e.LI.item
                                    +e.A(href="#").link Стерилизаторы, камеры
                                +e.LI.item
                                    +e.A(href="#").link Коробки
                            +e.BUTTON(type="button").more Показать еще 15 категорий
                    +b.product-list
                        +b.product-list-image
                            +e.IMG(src="/src/assets/img/870_sm.jpg").img
                        +b.product-list-content
                            +e.A(href="#").title Урология, гинекология
                            +e.UL.items
                                +e.LI.item
                                    +e.A(href="#").link Инструментарий
                    +b.product-list
                        +b.product-list-image
                            +e.IMG(src="/src/assets/img/755_sm.jpg").img
                        +b.product-list-content
                            +e.A(href="#").title Хирургия
                            +e.UL.items
                                +e.LI.item
                                    +e.A(href="#").link Стулья и табуреты
                                +e.LI.item
                                    +e.A(href="#").link Шкафы медицинские
                                +e.LI.item
                                    +e.A(href="#").link Ширмы
                                +e.LI.item
                                    +e.A(href="#").link Кушетки, банкетки
                                +e.LI.item
                                    +e.A(href="#").link Штативы
                            +e.BUTTON(type="button").more Показать еще 5 категорий
                +b.row
                    +b.product-button
                        +e.A(href="/build/catalog.html").btn перейти в полный каталог продукции
                        +e.P.info Еще 9 категорий медицинских товаров.
    .wrapper.interesting-font
        +b.container
            +b.interesting
                +e.H2.title Интересные предложения:
                +e.BUTTON(type='button').btn Все новинки
                +e.BUTTON(type='button').btn Все хиты продаж
                +e.BUTTON(type='button').btn Лучшая цена
                +b.interesting-grid
                    each item in listProduct
                        +b.interesting-block
                            +e.IMG(src="/src/assets/img/" + item.img).img
                            +b.description-block
                                +e.P.description=item.description
                                +e.P.title
                                    +e.A(href=" " + item.link).link=item.title
                                +e.P.subtitle=item.subtitle
                            +b.pricing
                                if item.oldPrice
                                    +e.P.old-price=item.oldPrice
                                    +e.P.price=item.price
                                else
                                    +e.P.price=item.price
                            +e.BUTTON(type='button').btn=item.button
                            if item.new
                                +e.P.new=item.new
                            else if item.bestPrice
                                +e.P.best-price=item.bestPrice
                            else if item.hitSales
                                +e.P.hit-sales=item.hitSales

    include ../components/_medical_equipment