include ../bemto/bemto.pug
include ../components/_vars
include ../components/_mixin


+base-page
    +b.wrapper
        +b.container
            +b.row
                +e.P.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque cum dolorum excepturi iste nostrum perspiciatis quasi quos? Aliquid cum ea eius ex, ipsum iste laborum libero neque obcaecati quae soluta unde voluptate. A aut consequuntur et iure, magni officiis quae quaerat sunt totam ullam! Aut consectetur hic impedit, magnam nemo quas rerum saepe sunt velit. Ad consequuntur dignissimos dolor ducimus, enim explicabo facilis incidunt necessitatibus officia omnis quo sit tempora unde? Adipisci cum dolore dolorem incidunt quisquam recusandae repellendus reprehenderit sapiente velit voluptas? Architecto et eum inventore, laborum nihil nobis placeat quidem ratione rem veniam? Blanditiis consectetur distinctio earum enim esse eum facere, fugiat in inventore itaque laborum, mollitia necessitatibus nisi nobis numquam officiis omnis, qui reiciendis temporibus velit. Accusantium animi nesciunt placeat praesentium repudiandae? A ab minus molestias necessitatibus praesentium quia tempora. Aliquid animi aspernatur, assumenda consequatur dicta doloremque, error fugiat iure natus nisi nobis praesentium quisquam repudiandae!

<<<<<<< HEAD
        .container
            .row.row_flex
                - var n = 0;
                    while n < 14
                        .item= n++
                            span lorem
=======
                        +b.table-value
                            +e.P.value 1600 (20 - 2000* - опция)
                            +e.P.value монокулярная
                            +e.P.value 45
                            +e.P.value 1
                            +e.P.value 10/18; 16/15; (5/18*; 12,5/15*; 20/11* - опция)
                            +e.P.value на 4 объектива
                            +e.P.value ахроматы, рассчитаны на длину тубуса 160, парфокальная высота 33 мм
                            +e.P.value 4x/0,1; 10x/0,25; 40x/0,65; 100x/1,25 ми
                            +e.P.value 110х120
                            +e.P.value 60х30
>>>>>>> parent of aebe5f0... Some changes
