@import "variables.scss";
@import "mixins.scss";
@import "fonts.scss";

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'OpenSans', sans-serif;
}

.slider-content {
  position: relative;

  &__img {
    width: 100%;
    height: 48rem;
  }

  &__text {
    @include font(32px, 300);
    width: 50rem;
    text-align: center;
    color: $white;
    background-color: $blue-bg;
    opacity: 0.741;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5.5rem 8rem;
  }
}

.slider-nav {
  display: flex;
  justify-content: center;
  margin-top: 2rem;

  &__switch {
    display: none;
  }

  &__radio-custom {
    width: 10px;
    height: 10px;
    background: $blue-bg;
    border-radius: 3px;
    position: relative;
    margin-right: 10px;
    cursor: pointer;
  }

  &__radio-custom,
  &__slider-btn {
    display: inline-block;

  }

  &__switch:checked + &__radio-custom::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $red-button;
  }

  &__radio-custom,
  &__switch:checked + &__radio-custom::before {
    border-radius: 50%;
  }
}

.product {
  margin-top: 3rem;

  &__title {
    @include font (14px);
    text-transform: uppercase;
    text-align: center;
    color: $main-nav-list;
    margin-bottom: 5rem;
  }
}

.product-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product-list {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.product-list-content{
  margin-left: 3rem;
  &__title{
    @include font(18px, 700, 24px);
    text-decoration: none;
    width: 18rem;
    display: block;
    color: $blue-font;
  }
  &__title:hover{
    color:$red-button;
    transition: .2s;
  }
  &__items{
    margin-top: 2rem;
    padding-left: 1rem;
    list-style-image: url("/../img/list.jpg");
  }
  &__link{
    @include font (16px, 400, 25px);
    color: $black-font;
    text-decoration: none;
    width: 16rem;
    display: block;
  }

  &__link:hover{
    color: $blue-font-products;
    transition: .2s;
    text-decoration: underline ;
  }

  &__more{
    @include font(12px, 600, 12px, italic);
    color: $blue-font-products;
    border-bottom: 1px dashed $blue-font-products;
    text-decoration: none;
    background: $white;
    border-right:none;
    border-left:none;
    border-top:none;
    text-align: left;
    cursor: pointer;
  }

  &__more:hover{
    color: $red-button;
    border-bottom: 1px dashed $red-button;
  }
}
