$bg-dark-gray: #f1f1f1;
$main-nav-list: #4f4f4f;
$dark-gray: #e6e6e6;
$white: #fff;
$light-red: #fc6e73;
$red-button: #f46464;
$dark-text: #2f2f2f;
$main-nav-border: #e2e2e2;
$light-blue: #3fb1d6;
$blue: #0889cc;
$blue-menu-hover: #3ea1da;
$font: 'Open Sans';
$black-font: #1e1e1e;
$blue-font: #0889cc;
$gray-font: #9b9a9a;
$blue-bg: #0A9CCC;