- var navList = ["О компании", "Услуги", "Лицензии", "доставка", "Контакты", "Прокат"]
-
    var telNumber = [
    {
        number: '+7 (8412) 68-02-11, 68-43-70',
        info: 'Магазин'
    },
    {
        number: '+7 (8412) 68-38-62',
        info: 'Отдел заказов'
    },
    {
        number: '+7 (8412) 68-02-11',
        info: 'Ремонт и обслуживание'
    }
    ]